* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.header {
    width: 1440px;
    height: 80px;
    margin: 0 auto;
    background: yellow;
}
.top-text {
    width: 80px;
    height: 13px;
    padding-left: 100px;
    padding-top: 25px;
}
